<!-- About -->
<section class="about py-5" id="about">
  <div class="container-lg py-4">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2 class="fw-bold mb-5">About Me</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="about-text">
          <h3 class="fs- mb-3">Problem Solver</h3>
          <p class="text-muted">
            With a focus on new web technologies and a strong desire to deliver
            high quality products
          </p>
        </div>
        <div class="row text-center text-uppercase my-3">
          <div class="col-sm-4">
            <div class="fact-item">
              <h4 class="fs-1 fw-bold">03+</h4>
              <p class="text-muted">Years experience</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="fact-item">
              <h4 class="fs-1 fw-bold">20+</h4>
              <p class="text-muted">Completed projects</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="fact-item">
              <h4 class="fs-1 fw-bold">03+</h4>
              <p class="text-muted">Led Teams</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <a
              download=""
              href="pdf/martin-lopez-fullstack.pdf"
              class="btn btn-primary px-3"
              >Descargar CV <i class="uil uil-download-alt button__icon"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-5 mt-md-0">
        <div class="d-grid gap-2 d-md-block">
          <div
            class="btn btn-primary active"
            data-bs-toggle="button"
            aria-pressed="true"
          >
            FrontEnd
          </div>
          <div class="btn btn-primary" data-bs-toggle="button">BackeEndEnd</div>
          <div class="btn btn-primary" data-bs-toggle="button">Tools+</div>
        </div>
        <div class="row mt-5">
          <!-- FRON SKILLS -->
          <div class="skill-content d-block">
            <div class="skill-item mb-4">
              <h3 class="fs-6">HTML</h3>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example 1px high"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
                style="height: 5px"
              >
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
            <div class="skill-item mb-4">
              <h3 class="fs-6">CSS</h3>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example 1px high"
                aria-valuenow="85"
                aria-valuemin="0"
                aria-valuemax="100"
                style="height: 5px"
              >
                <div class="progress-bar" style="width: 85%"></div>
              </div>
            </div>
            <div class="skill-item mb-4">
              <h3 class="fs-6">JavaScript</h3>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example 1px high"
                aria-valuenow="85"
                aria-valuemin="0"
                aria-valuemax="100"
                style="height: 5px"
              >
                <div class="progress-bar" style="width: 85%"></div>
              </div>
            </div>
            <div class="skill-item mb-4">
              <h3 class="fs-6">Angular</h3>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example 1px high"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
                style="height: 5px"
              >
                <div class="progress-bar" style="width: 80%"></div>
              </div>
            </div>
            <div class="skill-item">
              <h3 class="fs-6">Bootstrap5</h3>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example 1px high"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
                style="height: 5px"
              >
                <div class="progress-bar" style="width: 80%"></div>
              </div>
            </div>
          </div>
          <!-- BACK SKILLS -->
          <div class="skill-content d-none">
            <div class="skill-item mb-4">
              <h3 class="fs-6">Java</h3>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example 1px high"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
                style="height: 5px"
              >
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
            <div class="skill-item mb-4">
              <h3 class="fs-6">SpringBoot</h3>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example 1px high"
                aria-valuenow="85"
                aria-valuemin="0"
                aria-valuemax="100"
                style="height: 5px"
              >
                <div class="progress-bar" style="width: 85%"></div>
              </div>
            </div>
            <div class="skill-item mb-4">
              <h3 class="fs-6">SQL BD</h3>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example 1px high"
                aria-valuenow="85"
                aria-valuemin="0"
                aria-valuemax="100"
                style="height: 5px"
              >
                <div class="progress-bar" style="width: 85%"></div>
              </div>
            </div>
            <div class="skill-item mb-4">
              <h3 class="fs-6">Python</h3>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example 1px high"
                aria-valuenow="55"
                aria-valuemin="0"
                aria-valuemax="100"
                style="height: 5px"
              >
                <div class="progress-bar" style="width: 55%"></div>
              </div>
            </div>
          </div>
          <!-- TOOLS+ SKILLS -->
          <div class="skill-content d-none">
            <div class="skill-item mb-4">
              <h3 class="fs-6">Scrum</h3>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example 1px high"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
                style="height: 5px"
              >
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
            <div class="skill-item mb-4">
              <h3 class="fs-6">Git-GitHub</h3>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example 1px high"
                aria-valuenow="85"
                aria-valuemin="0"
                aria-valuemax="100"
                style="height: 5px"
              >
                <div class="progress-bar" style="width: 85%"></div>
              </div>
            </div>
            <div class="skill-item mb-4">
              <h3 class="fs-6">AWS</h3>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example 1px high"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
                style="height: 5px"
              >
                <div class="progress-bar" style="width: 60%"></div>
              </div>
            </div>
            <div class="skill-item mb-4">
              <h3 class="fs-6">Inglés</h3>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example 1px high"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
                style="height: 5px"
              >
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
