<!-- Navbar: Redes sociales + Login -->
<nav
  class="navbar navbar-light fixed-top bg-light shadow-sm navbar-expand-lg bg-body-tertiary"
>
  <div class="container-fluid">
    <img
      src="assets/img/logo.png"
      alt="Logo"
      width="30"
      height="24"
      class="d-inline-block"
    />
    <a class="navbar-brand text-primary fw-bold fs-5" href="#home"
      >#YoProgramo</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      <hr class="text-gray-500" />
      <ul
        class="navbar-nav mb-2 mb-lg-0 flex-wrap flex-row ms-auto text-primary"
      >
        <li class="nav-item col-6 col-md-auto">
          <a
            class="nav-link"
            href="https://www.linkedin.com/in/martin-alejandro-lopez/"
            target="_blank"
            ><i class="uil uil-linkedin"></i>
            <small class="d-md-none ms-2"> Linkedin </small></a
          >
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link" href="https://github.com/7incho" target="_blank">
            <i class="uil uil-github"></i>
            <small class="d-md-none ms-2"> Github </small></a
          >
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a
            class="nav-link"
            href="mailto:martin.lopez.dev@gmail.com"
            target="_blank"
            ><i class="uil uil-at"></i>
            <small class="d-md-none ms-2"> Mail </small></a
          >
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link" href="#"
            ><i class="uil uil-signin"></i>
            <small class="d-md-none ms-2"> Login </small></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
